.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.champLineup {
  display: flex;
  flex-direction: column;
}

.champ {
  padding: 10px;
}

.rerollButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rerollButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.itemSelect {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.startingItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.startingItem {
  margin-right: 10px;
  margin-left: 10px;
}

.activeStartingItem {
  border: 5px solid yellow;
  margin-right: 10px;
  margin-left: 10px;
}

.randomizedItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.randomizedItemImg {
  max-width: 64px;
}
